﻿@model CreditRiskAnalysisWebUI.Models.ClientViewModel

@{
    ViewData["Title"] = "Add Borrower";
}

<div uk-scrollspy="cls: uk-animation-scale-up; target: .uk-card; delay: 500; repeat: true">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-header">Create</h3>
        <form asp-action="EditClient" asp-controller="CreditRiskAnalysis">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                    <label class="control-label">First Name</label>
                    <input asp-for="FirstName" class="uk-input" type="text" placeholder="First Name">
                </div>
                <div class="uk-width-1-2@s">
                    <label class="control-label">Last Name</label>
                    <input asp-for="LastName" class="uk-input" type="text" placeholder="Last Name">
                </div>
                <div class="uk-width-1-2@s">
                    <label class="control-label">Age</label>
                    <input asp-for="Age" class="uk-input" type="text" placeholder="Age">
                </div>
                <div class="uk-width-1-2@s">
                    <label class="control-label">Email</label>
                    <input asp-for="Email" class="uk-input" type="text" placeholder="Email">
                </div>
                <div class="uk-width-1-2@s">
                    <label class="control-label">Gender</label>
                    <select asp-for="Gender" class="uk-button uk-form-select" data-toggle="tooltip" data-placement="top" title="Borrower's gender" data-uk-form-select>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="uk-width-1-4@s">
                    <label>Monthly Income</label>
                    <input class="uk-input" type="text" asp-for="MonthlyIncome" placeholder="Monthly Income">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Number of Dependents</label>
                    <input class="uk-input" type="text" asp-for="NumberOfDependents" placeholder="Number of Dependents">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Debt Ratio (%)</label>
                    <input class="uk-input" type="text" asp-for="DebtRatio" placeholder="Debt Ratio">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Number of open Credit Lines and Loans</label>
                    <input class="uk-input" type="text" asp-for="NumberOfOpenCreditLinesAndLoans" placeholder="Number of open Credit Lines and Loans">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Revolving Utilization of Unsecured Lines (%)</label>
                    <input class="uk-input" type="text" asp-for="RevolvingUtilizationOfUnsecuredLines" placeholder="Revolving Utilization of Unsecured Lines (%)">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Debt Ratio</label>
                    <input class="uk-input" type="text" asp-for="NumberOfRealEstateLoansOrLines" placeholder="Debt Ratio">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Number of Times 90 Days Late</label>
                    <input class="uk-input" type="text" asp-for="NumberOfTimes90DaysLate" placeholder="Number of Times 90 Days Late">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Number of Times 30-59 Days Past Due not Worse</label>
                    <input class="uk-input" type="text" asp-for="NumberOfTime3059DaysPastDueNotWorse" placeholder="Number of Times 30-59 Days Past Due not Worse">
                </div>
                <div class="uk-width-1-4@s">
                    <label>Number of Times 60-89 Days Past Due not Worse</label>
                    <input class="uk-input" type="text" asp-for="NumberOfTime6089DaysPastDueNotWorse" placeholder="Number of Times 60-89 Days Past Due not Worse">
                </div>
            </div>
            <hr />
            <button class="uk-button uk-button-primary" type="submit" asp-action="CreateClient" asp-controller="CreditRiskAnalysis">Save</button>
            <a class="uk-button uk-button-text card-footer" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>