﻿@model IEnumerable<CreditRiskAnalysisWebUI.Models.ClientViewModel>

@{
    ViewData["Title"] = "Clients";
}

<script>
    function startLoading(id) {
        var loadingButton = document.getElementById(id + "-1");
        var performAnalysisButton = document.getElementById(id + "-2");

        performAnalysisButton.remove();
        loadingButton.style.visibility = "visible";
    }
</script>

<h1>Clients</h1>

<p>
    <a class="uk-button uk-button-primary" asp-controller="CreditRiskAnalysis" asp-action="CreateClient">Create New</a>
    <a class="uk-button uk-button-primary" asp-controller="CreditRiskAnalysis" asp-action="DeleteAll">Delete All</a>
    <a class="uk-button uk-button-primary" asp-controller="CreditRiskAnalysis" asp-action="Randomize">Generate Semi-Random Data</a>
</p>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Gender)</th>
                <th>@Html.DisplayNameFor(model => model.Age)</th>
            </tr>
        </thead>
        <tbody uk-sortable="cls-custom: uk-card" uk-scrollspy="cls: uk-animation-slide-left; target: .uk-card; delay: 500; repeat: true">
            @foreach (var item in Model)
            {
                <tr class="uk-card">
                    <td>
                        <a class="uk-link-reset" asp-controller="CreditRiskAnalysis" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" asp-controller="CreditRiskAnalysis" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="uk-text-nowrap">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td class="uk-text-nowrap">
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td class="uk-text-normal">
                        <a class="uk-button uk-button-primary" asp-controller="CreditRiskAnalysis" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="uk-button uk-button-primary" id="@item.Id-2" asp-controller="CreditRiskAnalysis" asp-action="PerformAnalysis" onclick="startLoading('@item.Id')" asp-route-id="@item.Id">Perform Analysis</a>
                        <div class="uk-button uk-button-primary" uk-spinner id="@item.Id-1" style="visibility: hidden; width: 185px" disabled></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
