﻿@model CreditRiskAnalysisWebUI.Models.CustomerPredictionViewModel

@{
    ViewData["Title"] = "Clients";
}

<br />

<div uk-scrollspy="cls: uk-animation-scale-up; target: .uk-card; delay: 500; repeat: true">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-header">Details</h3>
        <form class="uk-grid-small" uk-grid>
            <div class="uk-width-1-2@s">
                <label class="control-label">First Name</label>
                <input asp-for="FirstName" class="uk-input" type="text" placeholder="100" disabled>
            </div>
            <div class="uk-width-1-2@s">
                <label class="control-label">Last Name</label>
                <input asp-for="LastName" class="uk-input" type="text" placeholder="100" disabled>
            </div>
            <div class="uk-width-1-3@s">
                <label class="control-label">Age</label>
                <input asp-for="Age" class="uk-input" type="text" placeholder="100" disabled>
            </div>
            <div class="uk-width-1-3@s">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="uk-input" type="text" placeholder="100" disabled>
            </div>
            <div class="uk-width-1-3@s">
                <label class="control-label">Gender</label>
                <input value="@Model.Gender" class="uk-input" type="text" placeholder="100" title="Gender" disabled />
            </div>
            <div class="uk-width-1-4@s">
                <label>Monthly Income</label>
                <input class="uk-input" type="text" asp-for="MonthlyIncome" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Number of Dependents</label>
                <input class="uk-input" type="text" asp-for="NumberOfDependents" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Debt Ratio (%)</label>
                <input class="uk-input" type="text" asp-for="DebtRatio" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Number of open Credit Lines and Loans</label>
                <input class="uk-input" type="text" asp-for="NumberOfOpenCreditLinesAndLoans" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Revolving Utilization of Unsecured Lines (%)</label>
                <input class="uk-input" type="text" asp-for="RevolvingUtilizationOfUnsecuredLines" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Debt Ratio</label>
                <input class="uk-input" type="text" asp-for="NumberOfRealEstateLoansOrLines" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Number of Times 90 Days Late</label>
                <input class="uk-input" type="text" asp-for="NumberOfTimes90DaysLate" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Number of Times 30-59 Days Past Due not Worse</label>
                <input class="uk-input" type="text" asp-for="NumberOfTime3059DaysPastDueNotWorse" placeholder="50" disabled>
            </div>
            <div class="uk-width-1-4@s">
                <label>Number of Times 60-89 Days Past Due not Worse</label>
                <input class="uk-input" type="text" asp-for="NumberOfTime6089DaysPastDueNotWorse" placeholder="50" disabled>
            </div>
        </form>
        <hr />
        <a class="uk-button uk-button-text card-footer" asp-action="Index">Back to List</a>
    </div>
</div>
<br />
<br />

<div uk-scrollspy="cls: uk-animation-scale-up; target: .uk-card; delay: 500; repeat: true">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-header">Analysis Results</h3>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                    <tr>
                        <th>
                            Model Type
                        </th>
                        <th>
                            Prediction
                        </th>
                        <th>
                            Prediction (Probability)
                        </th>
                        <th>
                            Accuracy Score
                        </th>
                        <th>
                            ROC-AUC Score
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Predictions)
                    {
                        <tr>
                            <td>
                                @item.ModelType
                            </td>
                            <td>
                                @item.Predicted
                            </td>
                            <td>
                                @item?.PredictedProbability
                            </td>
                            <td>
                                @item.AccuracyScore
                            </td>
                            <td>
                                @item.RocAucScore
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>