﻿@model DataAnalysisViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 100%;
        height: 100%;
        max-height: 500px;
        max-width: 700px;
    }
</style>

@{
    var objects = Model.ObjectsList;
}

<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="clsActivated: uk-transition-toggle; center: true">
    <ul class="uk-slider-items uk-grid">
        @foreach (var obj in objects)
        {
            string link = $"https://{ @obj.BucketName }.s3-eu-west-1.amazonaws.com/{ @obj.Key }";
            string header = @obj.Key.Split('/').FirstOrDefault().Replace("_", " ");
            string overlaySubtitle = $"Object Path: { @obj.BucketName }/{ @obj.Key } | Size: { @obj.Size } | ETag: { @obj.ETag } | Date: { @obj.LastModified.ToString("dd MMMM yyyy, HH:mm:ss") }";

            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="@link" alt="@header">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-toggle uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">@header</h3>
                        <p class="uk-margin-remove">@overlaySubtitle</p>
                    </div>
                </div>
            </li>
        }
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-background-secondary" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-background-secondary" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>
