﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error occured";
}

@if (Model.ShowRequestId)
{
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Exception message</h5>
                <small>HResult: @Model.HResult</small>
            </div>
            <p class="mb-1">@Model.ErrorMessage</p>
            <small>Request Id: @Model.RequestId</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Inner Exception</h5>
                <small class="text-muted">HResult: @Model.HResult</small>
            </div>
            <p class="mb-1">@Model.InnerException</p>
            <small class="text-muted">Request Id: @Model.RequestId</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Base Exception</h5>
                <small class="text-muted">HResult: @Model.HResult</small>
            </div>
            <p class="mb-1">@Model.BaseException</p>
            <small class="text-muted">Request Id: @Model.RequestId</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Stack Trace</h5>
                <small class="text-muted">HResult: @Model.HResult</small>
            </div>
            <p class="mb-1">@Model.StackTrace</p>
            <small class="text-muted">Request Id: @Model.RequestId</small>
        </a>
    </div>
}

